#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 BITMAP "dog.bmp"

1 DIALOG 0, 0, 129, 135
CAPTION "game3"
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "MS Shell Dlg"
{
    CONTROL "", stc1, "STATIC", SS_BITMAP, 9, 13, 98, 114
}
